
/* src/Container.css */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #ccc;
}

/* src/Card.css */
.card {
  width: 250px;
  height: 148px;
  /* background-image: linear-gradient(to bottom right, #f99595, #8e8eef); */
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

